GOOGLE_CLIENT_ID=skip
GOOGLE_CLIENT_SECRET=you-need-to-generate-your-own
OPENAI_API_KEY=

# SUPERCOG ENVIRONMENT VARIABLES: DO NOT CHANGE
ENV=dev
ENGINE_URL=http://engine:8080
REDIS_URL=redis://redis:6379
DATABASE_URL=postgresql://pguser:password@postgres:5432/dbname
S3_PUBLIC_BUCKET=images-bucket
S3_FILES_BUCKET_NAME=files-bucket
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_KEY=miniosecret
AWS_ENDPOINT_WRITE_URL=http://minio:9002
AWS_ENDPOINT_READ_URL=http://localhost:9002
MINIO_API_PORT_NUMBER=9002
MINIO_CONSOLE_PORT_NUMBER=9003
